@import "../scss/vars";

.ticket-list {
    &__order-icon {
        padding-left: 5px;
        font-size: 14px;
    }

    &__filters {
        margin-bottom: 25px;
        text-align: left;
    }

    &__search-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__department-selector {
        display: inline-block;
        margin-right: 25px;
        text-align: center;
    }

    &__pagination-selector{
        display: inline-block;
        text-align: center;
        margin-left: 10px;
    }

    &__pagination {
        display: inline-block;
        float: right;
    }

    &__checkbox {
        display: inline-block;
    }

    &__number {
        text-align: left;
    }

    &__title {
        text-align: left;
    }

    &__department {
        text-align: right;
    }

    &__author {
        text-align: center;
    }

    &__date {
        text-align: right;
    }

    &__title-link:hover,
    &__title-link:focus {
        outline: none;
        text-decoration: underline;
    }

}
